.markdown-body div.sourceCode { overflow-x: auto; }
.markdown-body table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode { margin: 0; padding: 0; vertical-align: baseline; border: none; }
.markdown-body table.sourceCode { width: 100%; line-height: 100%; }
.markdown-body td.lineNumbers { text-align: right; padding-right: 4px; padding-left: 4px; color: #aaaaaa; border-right: 1px solid #aaaaaa; }
.markdown-body td.sourceCode { padding-left: 5px; }
.markdown-body code > span.kw { color: #007020; font-weight: bold; } /* Keyword */
.markdown-body code > span.dt { color: #902000; } /* DataType */
.markdown-body code > span.dv { color: #40a070; } /* DecVal */
.markdown-body code > span.bn { color: #40a070; } /* BaseN */
.markdown-body code > span.fl { color: #40a070; } /* Float */
.markdown-body code > span.ch { color: #4070a0; } /* Char */
.markdown-body code > span.st { color: #4070a0; } /* String */
.markdown-body code > span.co { color: #60a0b0; font-style: italic; } /* Comment */
.markdown-body code > span.ot { color: #007020; } /* Other */
.markdown-body code > span.al { color: #ff0000; font-weight: bold; } /* Alert */
.markdown-body code > span.fu { color: #06287e; } /* Function */
.markdown-body code > span.er { color: #ff0000; font-weight: bold; } /* Error */
.markdown-body code > span.wa { color: #60a0b0; font-weight: bold; font-style: italic; } /* Warning */
.markdown-body code > span.cn { color: #880000; } /* Constant */
.markdown-body code > span.sc { color: #4070a0; } /* SpecialChar */
.markdown-body code > span.vs { color: #4070a0; } /* VerbatimString */
.markdown-body code > span.ss { color: #bb6688; } /* SpecialString */
.markdown-body code > span.im { } /* Import */
.markdown-body code > span.va { color: #19177c; } /* Variable */
.markdown-body code > span.cf { color: #007020; font-weight: bold; } /* ControlFlow */
.markdown-body code > span.op { color: #666666; } /* Operator */
.markdown-body code > span.bu { } /* BuiltIn */
.markdown-body code > span.ex { } /* Extension */
.markdown-body code > span.pp { color: #bc7a00; } /* Preprocessor */
.markdown-body code > span.at { color: #7d9029; } /* Attribute */
.markdown-body code > span.do { color: #ba2121; font-style: italic; } /* Documentation */
.markdown-body code > span.an { color: #60a0b0; font-weight: bold; font-style: italic; } /* Annotation */
.markdown-body code > span.cv { color: #60a0b0; font-weight: bold; font-style: italic; } /* CommentVar */
.markdown-body code > span.in { color: #60a0b0; font-weight: bold; font-style: italic; } /* Information */
